---
import Layout from "../layouts/Layout.astro";
import ImageComponent from "../components/ImageComponent.astro";
import IconWithText from "../components/IconWithText.astro";
import ButtonComponent from "../components/ButtonComponent.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div id="fetchContainer" class="flexColumn main-padding">
      <h3 class="text-center">
        My First PWA
      </h3>
      







      
    <!--
      nedenfor er til den del omkring HTML og CSS
    -->
    <!-- Indsæt ImageComponent	-->
      

    <!-- 
		Indsæt tagline
		brug et <p class="text-center tiny-text"></p>
		-->
      

    <!-- 
		Container til ikoner med tekst 
		Inde i containeren indsæt IconWithText ---
		Kan se således ud:

			<IconWithText
          	iconSrc="../../public/icons/pasport.svg"
            mainText="Main text here"
          	subText="Suntext here"
            id="id here"
        	/>
	  -->
      
    </div>

    <!--Indsæt ButtonComponent med attribute: text="Din tekst"-->
    
  </main>
</Layout>

<style>
  #fetchContainer {
    opacity: 1;
  }
</style>
<!--
  <script>
    import "../scripts/fetch.js";
    import "../scripts/animation.js";
  </script>
-->